{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
Herkese merhabalar. Bizler Bilişim ve Teknoloji alanında gelişmeleri ve yenilikleri yakından takip eden ve bu alanda pek çok öğrenci ile çalışmalar ve etkinlikler yürüten bir kulübüz.
Eğer seninde bizlerden biri değilsen ve aramıza katılmak istiyorsan Kayıt Ol kısmından kayıt talebini gönderebilir yada Aşağıda bulunan sosyal medya hesaplarımızdan bizlere ulaşabilirsin.
<hr>
<hr>
Kulüp İnstagram Sayfası : ***********************
<hr>
<hr>
Her türlü görüş ve önerileriniz için bize mail atabilirsiniz : ***********************
<hr>
<hr>
Site Admini ve Kulüp Başkanı Kişisel Twitter Hesabı : *******************
<hr>
{% endblock body %}